<%- include('../partials/head');%>

<body>
    <%- include('../partials/nav');%>
    <h2><%=data.length%> Jokes here </h2>

    <%data.forEach(item=>{%>
    <div class="flex">
        <p><%=item.jokeid%></p>
        <p><%=item.type%></p>
        <p><%=item.setup%></p>
        <p><%=item.punchline%></p>
        <form action="/joke/<%=item.id%>">
            <button>Details</button>
        </form>
    </div>

    <%})%>
</body>

</html>